<div class="new_container">
  <h1 class="mb-5 text-center">Créer une nouvelle list</h1>

  <div class="container w-50">
    <%= render "form_new" %>
  </div>

</div>
<%= render "footer" %>


<% @reservations_received.each do |resa| %>
  <div class="card-product">
    <% if resa.cat.photos.attached? %>
      <%resa.cat.photos.first(1).each do |img| %>
        <%= cl_image_tag img.key, crop: :fill %>
      <% end %>
    <% else %>
      <img src="<%= resa.cat.images_url[0]%>" alt="">
    <% end %>
    <div class="card-product-infos">
      <div class="d-flex  ">
        <div class = "mx-3 " >
        <p class="text-start ">Name <%= resa.cat.name %></p>
        <p class=" text-start ">date_st <%= resa.start_date %></p>
        <p class=" text-start ">date_en <%= resa.end_date %></p>
        <p class=" text-start ">total <%= resa.total_price %> </p>
        <p class=" text-start ">Statut: <%= resa.statut_string %></p>
        </div>
        <% if resa.statut.nil? %>
        <div class= "  ">
          <p class =" margin-btn btn-grad-green"> <%= link_to 'Approuver', edit_user_registration_path %></p>
          <p class =" margin-btn btn-grad-red"> <%= link_to 'Refuser ', edit_user_registration_path %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>