<%# nav barre  %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= cl_image_tag @list.photo.key, class: "rounded" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Créer une nouvelle list", new_list_path, class: "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "My lists", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ajouter un nouveau signet", new_list_bookmark_path(@list), class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>


<%# affichage de la banner  %>
<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>);">
  <div class="container">
    <h2 class="text-center text-white">Vous êtes sur la list <strong><%= @list.name %></strong></h2>
  </div>
  <div class= "movies-count p-3 bg-warning text-white rounded">
    Movies: <%= @list.movies.count %>
  </div>
</div>



<br><br>

<div>
  <%= link_to "Ajouter un film à cette list", new_list_bookmark_path(@list), class: "btn btn-secondary"%>
</div>


<div class="container">
  <div class= "card-trip">
    <div class="cards">
      <%  @list.movies.each do|movie|%>
        <div class="card-trip">
          <img src="<%= movie.poster_url  %>",   />
          <div class="card-trip-infos">
            <div>
              <h2><%= movie.title %> : <span class="text-secondary"><%=  movie.rating %>/10 </span></h2>
              <p><%= movie.overview  %></p>
            </div>
          </div>
          <div class= "card-trip-infos d-flex">
            <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
            <h2 class="text-secondary">"<%= bookmark.comment %>...</h2>
            <h2 class="text-danger"><%= link_to "delete", bookmark_path(bookmark), data: {
                      turbo_method: :delete,
                      turbo_confirm: 'Oui vraiment? 🥲'
                    }, class: "text-danger"  %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# affichage footer %>

<%= render "footer" %>
